.DS_Store

# Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
staticfiles/
media/
logs/
# Coverage
.coverage
htmlcov/

# Frontend
frontend/node_modules/
frontend/package-lock.json
